PORT_API=3000
PORT_MS1=3010
PORT_MS2=3020

MS1_URL=http://python_scrapper_ms:${PORT_MS1}/scrape
MS2_URL=http://ai_synthetizer_ms:${PORT_MS2}

# ENV VARS FOR CONTAINERS CONTAINER
CONTAINER_DATA_FOLDER_PATH=/app/data
CONTAINER_CATEGORIES_FILE_PATH=/app/data/categories-and-id.json
CONTAINER_MARKDOWN_FILES_FOLDER_PATH=/app/data/scrapped-posts

# GPT KEYS
OPENAI_API_KEY=